

*  {
    margin:0;
    padding:0;
}

/* html, body {height:100%;} */

.geral{
    min-height:100%;
    position:relative;
}

.navAdmin{
    background-color: rgb(170, 170, 170);    
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

table tbody tr th .btnTable{
    /* margin:10px; */
}

.btn{
    margin:2px;
}

.bg-footer{
    background-color: rgb(170, 170, 170);
    padding:50px;    
    position:absolute;
    bottom:0;
    width:100%;
}

