


body{
    font-family: 'calibri light', calibri, arial, sans-serif;
    
}



.navAdmin{
    background-color: rgb(170, 170, 170);    
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

table tbody tr th .btnTable{
    /* margin:10px; */
}

.btn{
    margin:2px;
}

.bg-footer{
    background-color: rgb(170, 170, 170);
    border-top: 1px solid rgb(255, 255, 255);
    padding:20px;    
}

.bg-dark{
    height: 800px;
}


